body {
    background: linear-gradient(to left,#C4F7E3, #FFE2C7); 
    /* light mint and pale peach  #A8E6CF, #FFDAB9*/
}

#quote, #author {
    text-align: center;
    font-family: 'Arial', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

#quote {
    font-weight: Bolder;
    padding-top: 80px;
}

#author {
    font-weight: italic;
    padding-top: 25px;
    padding-bottom: 25px;
}
#div {
    background-color: #E0F7FA40; /*icy white 25% transparency*/
    /* border: solid 5px; */
    height: 55vh;
    width: 45vw;
    margin: auto;
    margin-top: 15vh;
    border-radius: 10px;
    transform: rotate(.25deg);
    position:relative;
    box-shadow: 6px 6px 10px rgba(0,0,0, 0.8);
    line-height: 2;
}

#btn {
    display: block;
    margin: auto;
    /* padding-left: 15px;
    padding-right: 15px; */
    padding: 8px;
    /* padding-bottom: 15px; */
    height: auto;
    width: auto;
    font-size: 2rem;
    background: #A3A6F1;
    border-radius: 25px;
    border: 0px;
}

#btn:active {
    background-color: #4B6A94;
}

#btn:hover {
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    #div {
        width: 75vw;
        min-height: 55vh;
        line-height: 1.2
    }
}